/* Spotify colors */
:root {
    --spotify-green: #1DB954;
    --spotify-black: #191414;
    --spotify-white: #FFFFFF;
    --spotify-dark-gray: #121212;
    --spotify-light-gray: #B3B3B3;
}

/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--spotify-white);
    background: linear-gradient(180deg, var(--spotify-black) 0%, var(--spotify-dark-gray) 100%);
    overflow: hidden; /* Hide scrollbars while loading */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #282828;
    height: 4rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

/* Loading screen styles */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-container img {
    width: 80px; /* Adjust size of the loading gif */
}

.loading-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--spotify-light-gray);
}